/* チャット画面のスクロール設定 */
#field{
    /* 横向きのスクロース禁止 */
    overflow-x: hidden;
    /* 縦向きのスクロール許可 */
    overflow-y: scroll;
    /* スマホでは指でスクロール */
    -webkit-overflow-scrolling: touch;
}

/* 自分の吹き出し */
.chat-right{
    margin-left: auto;
    margin-right:25px;
    background: #a4e496;
}
/* 相手の吹き出し */
.chat-left{
    margin-left:25px;
    background: #FFF;
}